* {
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    box-sizing: border-box;
    /* color: #636363; */
}
html, body {
    color: #636363;
}
/* HEADER */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container {
    margin: auto;
    max-width: 1199px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content a {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
}
.header__content nav ul {
    display: flex;
    margin-right: 20px;
}
.header__content li {
    padding: 55px 15px;
    list-style: none;
}
.header__content li a {
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.header__content span {
    display: inline-block;
    transition: all 1s;
}
.header__content i {
    font-size: 9px;
    vertical-align: middle;
    margin-top: -3px;
}
.header__content li a:hover {
    color: #f55f8d;
}
.header__content li a:hover span {
    animation: uptoDown 0.3s;
}
@keyframes uptoDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
.btn {
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    color: #fff;
    background-position: right center;
}
/* CAROUSEL */
.carousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(./Samar__img/pic2.png);
    background-position: top;
    background-size: 100%;
}
.carousel__content {
    display: flex;
    align-items: center;
}
.carousel__left {
    width: 60%;
}
.title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.carousel__left .article p {
    font-size: 18px;
    margin-bottom: 15px;
}
.carousel__left .article ul {
    margin-bottom: 20px;
}
.carousel__left .article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
    list-style: none;
    display: flex;
}
.carousel__left .article i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
} 
.carousel__right {
    width: 40%;
}
.carousel__banner {
    width: 570px;
    margin-left: 50px;
}
.carousel__banner img {
    max-width: 100%;
    display: block;
}
/* SERVICES */
.services {
    background-image: url(./Samar__img/bg2.png);
    background-size: cover;
    text-align: center;
    padding-top: 115px;
}
.services__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
    ;
    /* display: flex; */
    margin-top: 40px;
}
.services__item {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;

}
.services__item img {
    width: 215px;
}
.services__item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}
.services__item:hover {
    transform: translateY(-20px);
}
/* ABOUT US */
.aboutUs {
    background-image: url(./Samar__img/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 85px;
    overflow: hidden;
    padding-top: 115px;
    background-position: center right;
}
.aboutUs__content {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
.aboutUs__left {
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs__right {
    width: 50%;
}
.aboutUs__right p {
    margin-bottom: 15px;
}
.aboutUs__right ul {
    margin-bottom: 30px;
}
.aboutUs__right li {
    list-style: none;
}
.aboutUs__right i {
    /* width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1.5px solid #f55f8d; */
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;

}
/* NUMBER */
.number {
    background-image: url(./Samar__img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}
.number__content {
    display: flex;
    justify-content: space-around;
}
.number__item {
    width: 25%;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item h2,
.number__item span {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.number__item p {
    color: #262626;
    font-size: 18px;
}
/* FEATURES */  
.features {
    background-image: url(./Samar__img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
    overflow: hidden;
}
.features__content {
    display: flex;
}
.features__left, .features__right {
    width: 50%;
}
.features__item {
    padding: 0 50px 30px 0;
    /* width: 300px;
    height: 80px; */    
    background-color: white;
    position: relative;
}
.item__content {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* z-index: 1  ; */
}
.features__item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}
.features__item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.features__item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}
.features__banner {
    margin-right: -80px;
}
.features__banner img {
    max-width: 100%;
    animation: move2 5s infinite;
}
.features__item1 {
    padding: 0 0 30px 50px;
}
.item__content::after {
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    opacity: 0;
    transition: 1s;
    width: 100%;
    height: 100%;
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
}
.item__content:hover::after {
    opacity: 1;
}
.item__content:hover div,
.item__content:hover h3,
.item__content:hover i {
    color: white;
}
@keyframes move2 {
    0% {
        transform:rotate(1deg) 
        translate(2px,2px)
    }
    50% {
        transform:rotate(-1deg) 
        translate(-2px,-2px)
    }
    100% {
        transform:rotate(1deg) 
        translate(2px,2px)
    }
}
/* PORTFOLIO */
.portfolio {
    background-image: url(./Samar__img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.portfolio__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 35px;
}
.portfolio__item img {
    width: 100%;
    height: 100%;
}
.portfolio__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item1,
.portfolio__item5 {
    grid-column: 1 / 3;
}
.portfolio__item6 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all .75s;
}
.portfolio__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}
.portfolio__icon i {
    line-height: 50px;
     color: #fff;
     cursor: pointer;
}
.portfolio__icon a {
    /* cursor: pointer; */
    text-decoration: none;
}
.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.portfolio__text p {
    color: #fff;
    opacity: .7;
}
.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}
.portfolio__item:hover .portfolio__icon {
    transform: translate(0);
}
.portfolio__item:hover .portfolio__text {
    transform: translateY(0);
}
/* PLAN */
.plan {
    background-image: url(./Samar__img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 115px;
}
.plan__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 30px;
}
.plan__item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}
.plan__item:hover {
    border-image: url(./Samar__img/br.png) 1 round;
}
.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item img {
    width: 125px;
}
.plan__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}
.plan__item li {
    padding: 5px 0 ;
    font-weight: 400;
    font-size: 18px;
    color: #262626;
    list-style: none;
}
.plan__item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
/* TESTIMONIAL */
.testimonial {
    text-align: center;
    background-image: url(./Samar__img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  position: relative;
  /* padding: 100px 0; */
}

.testimonial__thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
  height: auto;
}
.testimonial__thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-pic .shape-bx {
    position: relative;
    height: 40px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar__img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
    /* opacity: 1; */
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial-pic::after,
.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}
.testimonial-position {
    color: #f55f8d;
    margin-bottom: 20px;
}
.testimonial-text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}
:root {
    --swiper-theme-color: #f55f8d;
}
/* BLOG */
.blog {
    background-image: url(./Samar__img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 115px;
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1  ;
    height: auto;
    /* overflow: hidden; */
    /* display: flex; */
}
.blog__item {
    text-align: left;
    background: rgba(245, 95, 141, .1);
    border-radius: 8px;
    margin-right: 20px;
}
.blog__header {
    position: relative;
}
.blog__header img {
    width: 100%;
    border-radius: 8px;
}
.blog__header p {
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, .05);
    text-transform: uppercase;
}
.blog__footer p:first-of-type {
    margin-right: 20px;
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}
/* FOOTER */
footer {
    background-image: url(./Samar__img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar__img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
footer::before {
    content: "";
    background-image: url(./Samar__img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__text,
.footer__form {
    width: 50%;
}

.footer__text h2 {
    color: #262626;
    font-size: 28px;
}
.footer__form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background-color: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all1 .5s;
}
.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item {
    width: 25%;
}
.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    text-decoration: none;
}
.footer__item img {
    margin-bottom: 8px;
}
.footer__item li {
    padding: 0.5rem 0;
    list-style: none;
}
.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer__contact li {
    display: flex;
    align-items: center;
}
.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;    
}
.footer__item h3::before,
.footer__item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::after {
    width: 45px;
    left: 20px;
}
.footer__item h3::before {
    width: 15px;
}
.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__left span {
    color: #f55f8d;
}
.footer__copyright a {
    width: 32px;
    height: 32px;
    
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    transition: all .5s;
}
.footer__copyright i {
    line-height: 32px;
}
/* BACKTOTOP */
.backToTop {
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    border-radius: 8px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    /* visibility: hidden; */
    /* opacity: 0; */
}

.backToTop i {
    line-height: 50px;
}